$white-light: black;
$color: #44FF44;
$color2: #33cc33;
$color3: #22aa22;
$color4: #FF33FF;
$color5: #FFc122;
$redcolor: #FF2211;
$linkcolor: #2222FF;
$bgcolor: #291129;
$bgcolor1: #120012;
$bgcolor2: #340034;
$bgcolor3: #461146;
$bgcolor4: #115511;
$bgcolor5: #111155;

$warning:   #fc9403;
$bluecolor: #2c44C3;

@charset "UTF-8";

@-moz-document url-prefix("https://gitlab"), url-prefix("http://gitlab"), domain("gitlab.webhosting.coop") {

  a {
    color: $linkcolor;
    background: $bgcolor;
  }

  table {
    background-color: transparent;
  }

  li {
    color: $color2;
    background: $bgcolor;
  }

  html, body{
    color: $color2;
    background: $bgcolor;
  }

  h1, h2, h3, h4, h5, h6 {
    color: $color;
  }

  .badge {
    color: $color2;
    background: $bgcolor2;
  }

  .content-wrapper .container-fluid {
    background: $bgcolor;
  }

  .nav-links li a:hover, .nav-links li a:active, .nav-links li a:focus {
    color: $color4;
    background: $bgcolor5;
  }

  header .header-content .title a {
    color: $color2;
  }

  header.navbar-gitlab {
    color: $color2;
    background-color: $bgcolor;
    border-bottom: 1px solid $bgcolor2;
  }

  .select2-search, .form-control, .search form {
    color: $color2;
    background: $bgcolor;
  }

  .panel, .select2-drop {
    color: $color3;
    background: $bgcolor2;
  }
  code.key-fingerprint {
    color: $color4;
    background: $bgcolor4;
  }
  button, input, optgroup, select, textarea {
    color: $color3;
    background: $bgcolor3;
  }

  header .global-dropdown-toggle {
    background-color: $bgcolor;
  }

  .layout-nav {
    background:$bgcolor;
    border-bottom: 1px solid $bgcolor2;
  }

  .nav-links.sub-nav,
  .nav-links.sub-nav .container-fluid {
    background-color: $bgcolor;
  }

  .nav-links {
    border-bottom: 1px solid $bgcolor2;
  }

  header.navbar-gitlab .container-fluid .nav > li > a:hover, header.navbar-gitlab .container-fluid .nav > li > a:focus, header.navbar-gitlab .container-fluid .nav > li > a:active {
    color: $linkcolor;
    background-color: $bgcolor3;
  }

  header.navbar-gitlab .container-fluid .nav > li > a {
    color: $color3;
    background-color: $bgcolor;
  }

  .axis, .branch-commit .commit-icon svg, .pika-prev, .pika-next,
  header.navbar-gitlab .container-fluid .nav > li > a svg,
  header.navbar-gitlab .container-fluid .nav > li > a:hover svg, header.navbar-gitlab .container-fluid .nav > li > a:focus svg, header.navbar-gitlab .container-fluid .nav > li > a:active svg {
    fill: $color3;
  }

  .search .location-badge,
  .dropdown-menu a, .dropdown-menu-nav a {
    color: $color3;
    background-color: $bgcolor3;
  }
  .dropdown-menu .dropdown-header, .dropdown-menu-nav .dropdown-header,
  .dropdown-content, .dropdown-header, .dropdown-toggle, .dropdown-menu-toggle {
    color: $color2;
    background-color: $bgcolor2;
  }

  .dropdown-menu a:hover, .dropdown-menu a:focus, .dropdown-menu a.is-focused, .dropdown-menu-nav a:hover, .dropdown-menu-nav a:focus, .dropdown-menu-nav a.is-focused {
    color: $color4;
    background-color: $bgcolor4;
  }

  .btn, .btn:hover, .btn:focus,
  .project-repo-buttons .btn, .group-buttons .btn {
    color: $color2;
    background-color: $bgcolor2;
    border-color: $bgcolor3;
  }

  .project-repo-buttons .count-with-arrow .count, .group-buttons .count-with-arrow .count {
    color: $color2;
    background-color: $bgcolor2;
    border-color: $bgcolor3;
    background: $bgcolor2;
  }

  .git-clone-holder .form-control, .git-clone-holder .search form, .search .git-clone-holder form {
    background: $bgcolor2;
    font-size: 14px;
    margin-left: -1px;
    cursor: auto;
    width: 101%;
  }

  .project-last-commit {
    background-color: $bgcolor2;
    border: 1px solid $bgcolor3;
  }

  tr.tree-item:hover,
  tr.tree-item,
  .tree-item > tr:hover,
  .tree-item,
  .tree-holder .tree-table tr {
    border-bottom: 1px solid $bgcolor;
    border-top: 1px solid $bgcolor;
  }

  .commit-header,
  .row-content-block.content-component-block {
    background-color: $bgcolor;
  }

  .btn.btn-inverted.btn-remove:hover, .btn.btn-inverted.btn-remove:focus {
    background-color: #db3b21;
    border-color: #c0341d;
    color: #fff;
  }

  .btn.btn-inverted.btn-remove {
    background-color: $bgcolor;
    color: #db3b21;
    border-color: #db3b21;
  }

  .sub-header-block {
    background-color: $bgcolor2;
    border-bottom: 1px solid $bgcolor;
  }

  .project-network .controls {
    color: $color2;
    border-bottom: 1px solid $bgcolor;
    background: $bgcolor2;
  }

  .input-group .input-group-addon {
    background-color: $bgcolor4;
  }

  .input-group-addon {
    color: $color4;
    background-color: $bgcolor4;
    border: 1px solid $bgcolor3;
  }

  code {
    color: #c0341d;
    background-color: $bgcolor1;
  }

  .form-actions,
  .form-control::-moz-placeholder, .search form::-moz-placeholder {
    color: $color2;
    background-color: $bgcolor2;
  }

  .markdown-area {
    color: $color2;
    background-color: $bgcolor2;
    border: 1px solid $bgcolor2;
  }

  .row-content-block {
    color: $color2;
    background-color: $bgcolor;
    border-top: 1px solid $bgcolor4;
    border-bottom: 1px solid $bgcolor4;
  }

  .file-holder .file-title {
    background-color: $bgcolor;
    border-bottom: 1px solid $bgcolor4;
  }

  .ace-tm,
  .ace-tm .ace_gutter {
    background-color: $bgcolor3;
    color: $color2;
  }

  .select2-container .select2-choice, .select2-container.select2-drop-above .select2-choice {
    background-color: $bgcolor2;
    border-color: $bgcolor4;
    color: $color2;
  }
  .select2-choice > a:hover {
    background-color: $bgcolor4;
    border-color: $color4;
    color: $color4;
  }

  .form-control[disabled], .search form[disabled], .form-control[readonly], .search form[readonly], fieldset[disabled] .form-control, fieldset[disabled] .search form, .search fieldset[disabled] form {
    background-color: $bgcolor3;
    color: $color2;
  }

  .panel-default > .panel-heading,
  .bs-callout,
  .bs-callout-info,
  .btn.btn-inverted.btn-success, .btn.btn-inverted.btn-new, .btn.btn-inverted.btn-create, .btn.btn-inverted.comment-btn, .btn.btn-inverted.btn-save {
    background-color: $bgcolor4;
    border-color: $color4;
    color: $color4;
    a, body, html, li, html {
      background-color: $bgcolor4;
      border-color: $color4;
      color: $color4;
    }
  }

  .board-inner {
    color: $color4;
    background: $bgcolor4;
    border-color: $color4;
    border: 1px solid $color4;
  }

  .filtered-search-box .fa-filter {
    background-color: $bgcolor4;
    color: $color4;
  }

  .filtered-search-box {
    border: 1px solid $bgcolor4;
    background-color: $bgcolor4;
  }

  .file-title-flex-parent {
    background-color: $bgcolor;
    border-bottom: 1px solid $bgcolor3;
  }

  .blob-commit-info {
    background: $bgcolor;
    border: 1px solid $bgcolor4;
  }

  .light-well, .description-block {
    background-color: $bgcolor3;
    color: $color3;
  }

  .dropdown-toggle, .dropdown-menu-toggle {
    color: $color2;
    background-color: $bgcolor2;
    border: 1px solid $bgcolor3;
  }

  .pika-single {
    color: $color2;
    background: $bgcolor2;
    border: 1px solid $bgcolor4;
    border-bottom-color: $bgcolor4;
  }

  .pika-label {
    color: $color2;
    background-color: $bgcolor2;
  }

  .pika-single.gitlab-theme th {
    color: $color2;
    border-top: 1px solid rgba(0,0,0,0.5);
  }

  .alert-warning, .broadcast-message, .broadcast-message-preview {
    background-color: $warning;
    border-color: $warning;
    color: $bluecolor;
    ul, li {
      background-color: $warning;
      color: $bluecolor;
    }
  }

  .form-actions {
    background-color: $bgcolor;
    border-top: 1px solid $bgcolor4;
  }

  .file-holder .file-content.logs ol {
    border-left: 1px solid $bgcolor4;
    background: $bgcolor;
  }

  .file-holder .file-content.logs ol li:hover {
    color: $color3;
    background: $bgcolor;
    background-color: $bgcolor;
    border-color: $bgcolor4;
  }

  legend {
    border-bottom: 1px solid $bgcolor4;
  }

  .nav-links li a:hover, .nav-links li a:active, .nav-links li a:focus {
    border-bottom: 2px solid $bgcolor4;
  }

  header .global-dropdown-toggle:focus {
    background-color: $bgcolor3;
  }

  header .global-dropdown-toggle:hover,
  .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: $color4;
    background: $bgcolor4;
    background-color: $bgcolor4;
    border-color: $color4;
  }

  .navbar-default {
    background-color: $bgcolor;
    border-color: $bgcolor4;
  }

  .panel-footer {
    background-color: $bgcolor1;
    border-top: 1px solid $bgcolor4;
  }

  .dropdown-menu, .dropdown-menu-nav {
    background-color: $bgcolor;
    border: 1px solid $bgcolor4;
  }

  .dropdown-menu a:hover .badge, .dropdown-menu a:focus .badge, .dropdown-menu a.is-focused .badge, .dropdown-menu-nav a:hover .badge, .dropdown-menu-nav a:focus .badge, .dropdown-menu-nav a.is-focused .badge {
    background-color: $bgcolor;
  }

  hr {
    border-top: 1px solid $bgcolor4;
  }

  .project-home-panel, .group-home-panel,
  .projects-list > li,
  .event-item,
  .nav-block .controls,
  .activities .nav-block,
  .top-area, .wiki-page-header,
  .form-control, .search form ,
  ul.content-list > li {
    border-bottom: 1px solid $bgcolor4;
  }

  table.table tr td, .file-holder table tr td, .wiki table tr td,
  .md table tr td, ul.notes .note .note-body .note-text table tr td,
  .file-holder, .panel-default, .form-control, .search form  {
    border: 1px solid $bgcolor4;
  }

  .project-repo-buttons .count-with-arrow .arrow::after, .group-buttons .count-with-arrow .arrow::after {
    border-right-color: $bgcolor3;
  }

  .navbar-default .navbar-collapse, .navbar-default .navbar-form,
  .select2-container-multi .select2-choices {
    border-color: $bgcolor4;
  }

  .board-blank-state {
    background-color: $bgcolor4;
  }

  .summary_bar .summary {
    background: $bgcolor4;
  }

  .pika-single.gitlab-theme .pika-day {
    background-color: $bgcolor3;
  }

  .well-list > li:hover:not(.ui-sort-disabled) {
    background: $bgcolor3;
  }

  .table-striped > tbody > tr:nth-of-type(2n+1),
  .navbar-default .navbar-collapse, .navbar-default .navbar-form,
  table.table tr th, .file-holder table tr th, .wiki table tr th,
  .md table tr th, ul.notes .note .note-body .note-text table tr th,
  .file-editor .ace_gutter-cell, .select2-drop-mask, .right-sidebar,
  .file-holder .file-content.logs, .file-holder .file-content.logs ol li,
  .dropdown-menu, .dropdown-menu-nav, .project-network .network-graph, .tint-box,
  #contributors .person .spark {
    background: $bgcolor;
  }

  .label-branch,
  .navbar-inverse .navbar-text,
  .project-stats .nav > li > a:hover, .project-stats .nav > li > a:focus,
  .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover,
  .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover{
    color: $color4;
  }

  .nav-links li a {
    color: $color3;
  }

  .nav-links li.active a {
    color: $color3;
  }

  .form-control::-moz-placeholder, .search form::-moz-placeholder {
    color: $color3;
  }

  .navbar .navbar-brand .status,
  .navbar-default .navbar-nav > li > a,
  .file-holder .file-content.logs ol li,
  .file-holder .file-title a:not(.btn),
  .file-holder .file-content.logs ol li p,
  .nav-links li a:hover .badge, .nav-links li a:active .badge, .nav-links li a:focus .badge,
  .pika-single.gitlab-theme .pika-label,
  .select2-default,
  .cgray, .commit.inline-commit .committed_ago, .generic_commit_status.inline-commit .committed_ago,
  .event-item .event-title, .event-item a, .event-item,
  .search .search-input-wrap .search-icon, .search .search-input-wrap .clear-icon,
  .search-icon, .search-holder .search-icon, .group-row .stats,
  .dropdown-toggle .fa, .dropdown-menu-toggle .fa,
  .dropdown-toggle-text.is-default,
  header .header-content .title,
  header .header-content .title .dropdown-toggle-caret,
  .graphs .graph-author-email,
  .projects-list a, legend,
  .file-title-flex-parent a,
  .project-visibility-level-holder .radio .option-title,
  .project-visibility-level-holder .radio .option-descr,
  .right-sidebar.wiki-sidebar a,
  .wiki-page-header .light, .wiki-page-header .description-block,
  .help-block, .comment-toolbar,
  .nav-links li.active a .badge,
  .row-content-block, svg, .slead,
  .branch-commit, .branch-commit .commit-row-message, .branch-commit .commit-icon svg,
  .nothing-here-block, .btn-transparent,
  .commit a, .commit button, .generic_commit_status a, .generic_commit_status button,
  ul.content-list li, ul.content-list li a,
  .tree-holder .tree-time-ago,
  .tree-holder .tree-commit .tree-commit-link,
  .tree-holder .tree-item .tree-item-file-name i, .tree-holder .tree-item .tree-item-file-name a,
  .light, .description-block,
  .breadcrumb.repo-breadcrumb a,
  .project-last-commit .commit-row-message,
  .project-stats .nav > li > a {
    color: $color2;
  }

}
